/* styles.css */
.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root {
  /* CSS HEX */
  --celadon: #bbd8b3ff;
  --sunflower-gold: #f3b61fff;
  --old-gold: #a29f15ff;
  --black-cherry: #510d0aff;
  --pitch-black: #191102ff;
  --new-yellow: rgb(244, 199, 87);
}
img {
  display: block;
  margin: auto;
  max-width: 10%;
  height: auto;
}
body {
  background-color: var(--celadon);
  font-family: "Righteous", sans-serif;
}
body.warningpage {
  background-color: var(--black-cherry);
  font-family: "Righteous", sans-serif;
  text-shadow: 2px 2px var(--pitch-black);
  margin: auto 2%;
}
p {
  color: var(--sunflower-gold);
  font-size: 300%;
  margin: 3% auto;
}
h1 {
  color: var(--pitch-black);
  text-align: center;
  font-size: 400%;
}
h1.warning-heading {
  color: var(--sunflower-gold);
}
img.instagram {
  max-width: 100%;
  height: auto;
}
img.laundry {
  max-width: 50%;
  height: auto;
}
img.notepad {
  max-width: 40%;
  height: auto;
}
img.linkpad {
  max-width: 40%;
  height: auto;
  border: 4px solid transparent;
}
img.linkpad:hover {
  border-color: var(--old-gold);
  transition-duration: 0.2s;
  cursor: crosshair;
}
img.warning {
  max-width: 20%;
  height: auto;
}
img.laundry {
  max-width: 100%;
  height: auto;
}

.btn {
  background-color: var(--old-gold);
  color: var(--pitch-black);
  border: 4px solid transparent;
  border-color: var(--old-gold);
  margin-bottom: 12%;
  font-size: 2rem;
}
.btn:hover {
  background-color: var(--old-gold);
  border-color: var(--sunflower-gold);
  transition-duration: 0.2s;
  color: var(--pitch-black);
  cursor: crosshair;
}
.btn:click,
btn.active {
  background-color: var(--old-gold);
  border-color: var(--sunflower-gold);
  color: var(--pitch-black);
}
